In [15]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [ ]:
engine = create_engine("postgresql://djangoapp:yourpass@localhost:5432/app")
df = pd.read_csv('src.csv')
df = df[['stret_id', 'txt','sity_id', 'id']]
df = df.dropna()

df.to_sql(
    name="location_search_model", # table name
    con=engine,  # engine
    if_exists="append", #  If the table already exists, append
    index=False # no index
)

In [2]:

engine = create_engine("postgresql://djangoapp:yourpass@localhost:5432/app")

In [3]:
df = pd.read_sql_query('SELECT "location_building"."id", "location_building"."adres", "location_locationavailable"."sity_en", "location_locationavailable"."sity_hy", "location_locationavailable"."sity_ru", "location_locationavailable"."id", "location_street"."name_en","location_street"."name_hy", "location_street"."name_ru", "location_street"."id" FROM "location_building" INNER JOIN "location_locationavailable" ON ("location_building"."sity_id" = "location_locationavailable"."id") INNER JOIN "location_street" ON ("location_building"."stret_id" = "location_street"."id")', con=engine)

In [3]:
df = pd.read_sql_query('SELECT  "location_street"."name_en","location_street"."name_hy", "location_street"."name_ru", "location_street"."id" FROM "location_street" ', con=engine)

In [ ]:
df

In [5]:
df.to_csv('/home/vardan/Desktop/data_street.csv')